/* form */

.footer {
	background: #333333;
	display: flex;
	justify-content: space-between;
}

.form {
	display: flex;
    flex-direction: column;
}

.form__wrapper {
	display: flex;
	justify-content: space-between;
}

.form-form {
	display: flex;
	flex-direction: column;
}

.form__logo {
	padding-top: 100px;
	padding-bottom: 57px;
}

.form__link {
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 900;
	color: #FEFEFE;
	margin-bottom: 33px;
}

.form__input {
	width: 380px;
	margin-bottom: 20px;
	background: #333333;
	border:  none;
	border-bottom: 1px solid #BDBDBD;
	font-size: 14px;
	font-weight: 400;
}

.form__input::placeholder {
	color: #E0E0E0;
}

.form__textarea--p {
	color: #BDBDBD;
	font-size: 12px;
	font-weight: 400;
	top: -20px;
	left: 5px;
	text-align: center;
	max-width: 140px;
	background: #333333;
	position: relative;
}

.form__textarea {
	width: 380px;
	height: 125px;
	border: 1px solid #BDBDBD;
	background: #333333;
	position: absolute;
}

.form__label {
	color: #BDBDBD;
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
}

.form__checkbox {
	padding-top: 150px;
}

.form-send {
	margin-left: 261px;
	margin-bottom: 60px;
}

.form-send__text {
	font-weight: 500;
	font-size: 14px;
	color: #FEFEFE;
}

.form-send__img {
	position: relative;
	top: -16px;
	left: 60px;
}

.form-info__top {
	display: flex;
	padding-top: 100px;
	padding-bottom: 60px;
}

.form-info__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-info__link {
	font-weight: 500;
	font-size: 16px;
	color: #FEFEFE;
}

.form-info__list {
	margin-right: 73px;
}

.form-info__list:first-child {
	margin-left: -40px;
}

.form-info__list:last-child {
	margin-right: 136px;
}

.form__btn {
	font-weight: 500;
	font-size: 16px;
}

.form__btn--adaptive {
	display: none;
}

.form-info__zoo {
	font-weight: 700;
	color: #FEFEFE;
	margin-bottom: 35px;
}

.form-info__subtext {
	font-weight: 400;
	font-size: 14px;
	color: #FEFEFE;
}

.form-info__subtext--mb {
	margin-bottom: 20px;
}

.form__socials {
	display: flex;
	align-items: center;
	margin-bottom: 222px;
}

.form-socials__img {
	margin-right: 15px;
}

.footer-links {
	margin-top: 30px;
}

.footer-links__text {
	font-weight: 400;
	color: #BDBDBD;
	font-size: 12px;
	margin-bottom: 5px;
}
.footer-links__text--mb {
	margin-bottom: 72px;
}

/* form */

@media screen and (max-width: 1200px) {
	.form__btn {
		display: none;
	}

	.form {
		margin-right: 75px;
	}

	.form-info__top {
		padding-bottom: 0px;
	}

	.form-info__menu {
		margin-bottom: 20px;
	}

	.form-send {
		margin-bottom: 45px;
	}

	.form__btn--adaptive {
		display: block;
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 140px;
	}

	.form__socials {
		margin-bottom: 40px;
	}

	.footer-links__text--mb {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 850px) {
	.form__wrapper {
		flex-wrap: wrap;
	}

	.form {
		margin-right: 500px;
	}

	.form-send {
		margin-bottom: 0px;
	}

	.form-info__top {
		display: none;
	}

	.form-info__list {
		display: none;
	}

	.form__logo {
		padding-bottom: 20px;
	}
	
	.form__btn--adaptive {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 420px) {
	.form {
		margin-right: 0px;
	}

	.form__input {
		width: 300px;
	}

	.form__textarea {
		width: 300px;
	}

	.form-send {
		margin-left: 180px;
	}

	.form__logo {
		padding-top: 50px;
	}

	.form__btn--adaptive {
		margin-bottom: 80px;
	}

	.footer-links__text--mb {
		margin-bottom: 25px;
	}
}